<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="headerFragment">
    <script type="text/javascript" th:src="@{/js/header.js}"> </script>
    <div id="mask" onclick="closeNav()">
    </div>
    <div id="sideNav"  class="primary_content_column">
        <div class="primary_content_row" style="align-items: center; background: #F08B15; min-width: 250px;
    justify-content: space-between; height: 56px;">
            <img src="../../static/img/close_x.png" th:src="@{img/close_x.png}" onclick="closeNav()"
                 style="margin: 12px 0px 12px 12px; width: auto; height: 50%; cursor:pointer;" />
            <button class="button_dark" style="width: auto; display: inline; margin-right: 12px;
        margin-bottom: 0px;" onclick="location.href='/logout'">로그아웃</button>
        </div>
        <div style="color: #F08B15; padding: 10px 0 10px 30px; font-size: 24px;">Services</div>
        <nav class="primary_content_column">
            <a class="navMenu" onclick="location.href='/send'">
                <div class="primary_content_row" style="align-items: center">
                    <img src="../../static/img/icon_send.png" th:src="@{img/icon_send.png}" style=" margin-right: 27px;">
                    <span>보내기</span>
                </div>
            </a>
            <a class="navMenu" onclick="location.href='/receive'">
                <div class="primary_content_row" style="align-items: center">
                    <img src="../../static/img/icon_receive.png" th:src="@{img/icon_receive.png}" style=" margin-right: 27px;">
                    <span>받기</span>
                </div>
            </a>
            <a class="navMenu" onclick="location.href='/tradeLog'">
                <div class="primary_content_row" style="align-items: center">
                    <img src="../../static/img/icon_listtransactions.png" th:src="@{img/icon_listtransactions.png}" style=" margin-right: 27px;">
                    <span>거래내역</span>
                </div>
            </a>
            <a class="navMenu" onclick="location.href='/modify'">
                <div class="primary_content_row" style="align-items: center">
                    <img src="../../static/img/icon_modify.png" th:src="@{img/icon_modify.png}" style=" margin-right: 27px;">
                    <span>정보수정</span>
                </div>
            </a>
            <a class="navMenu" onclick="location.href='/security'">
                <div class="primary_content_row" style="align-items: center">
                    <img src="../../static/img/icon_security.png" th:src="@{img/icon_security.png}" style=" margin-right: 27px;">
                    <span>보안설정</span>
                </div>
            </a>
            <a class="navMenu" onclick="location.href='/sPw'">
                <div class="primary_content_row" style="align-items: center">
                    <img src="../../static/img/icon_sPw.png" th:src="@{img/icon_sPw.png}" style=" margin-right: 27px;">
                    <span>2차 비밀번호</span>
                </div>
            </a>
        </nav>
    </div>

    <div id="default_header">
        <span onclick="location.href='/'" style="cursor: pointer; font-weight: bold; font-size: 1.5em; color: white; ">CronCoin</span>
        <img id="openNavBtn" src="../../static/img/menu.png" th:src="@{img/menu.png}" style="cursor: pointer" onclick="openNav()">

    </div>


</header>

</html>