<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/config :: configFragment">
    <title>받기</title>
</head>
<header th:replace="fragments/header :: headerFragment"></header>
    <script type="text/javascript" th:src="@{/js/receive.js}"> </script>

    <div class="primary_container">
        <div class="primary_content_column">
            <h3>받기</h3>

<!--            <c:if test="${empty addressList}">
                <div id="none_address_attention" class="attention" >
                    <p>등록된 지갑이</p>
                    <p>없습니다!</p>
                </div>
            </c:if>

            <c:if test="${not empty addressList}">
                <h3>아래 주소를 클릭해주세요!</h3>
            </c:if>-->
        </div>
        <div id="register_body" style="display: none">
        </div>
        <div id="addressList" class="primary_content_column" style="align-items: center; margin-top: 12px">
<!--            <c:forEach var="address" items="${addressList}">
                <div id="addressRow" class="primary_content_row">
                    <div id="address" style="cursor: pointer; width: auto; flex-grow: 3; padding-left: 20px">${address}</div>
                    <button id="copyAddressBtn" class="button_primary" style="flex-grow: 1; width: auto " onclick="copyAddress()">주소복사</button>
                </div>
            </c:forEach>-->

            <button class="button_primary" onclick="createAddress()">지갑 생성</button>
        </div>

    </div>
</html>