<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/config :: configFragment">
    <title>보내기</title>
</head>
<header th:replace="fragments/header :: headerFragment"></header>


<div class="primary_container">
    <div class="primary_content_column">
        <h3>송금하기</h3>

        <div class="primary_content_row">
            <input id="recipient_address" type="text" class="primary_input" style="width: 90%;"
                    placeholder="송금받을 지갑 주소">
            <button class="button_dark" style="margin-left: 2px; flex-grow: 1; width: auto; padding: 0px"
                    onclick="getLedgerInfo()">조회</button>
        </div>

     
 		<input id="send_amount" type="text" class="primary_input" 
               placeholder="송금할 코인 수(CRN)">
               
               
        <input id="gas_price" type="text" class="primary_input" onblur="setTotal();"
               placeholder="GAS PRICE(Gwei) (1Gwei = 10^9 Wei)">
               
        <input id="gas_limit" type="text" class="primary_input" onblur="setTotal();"
               placeholder="GAS Limit(기본값 50000)">

        <div class="primary_content_row" style="align-items: baseline; padding-left: 12px">
            <span>수수료(ETH)</span>
            <input id="fee" type="text" class="primary_input" style="flex-grow: 1">
        </div>

        <input id="total_amount" type="text" class="primary_input"
               placeholder="총 소요 코인 수">

        <input id="sender_address" type="text" class="primary_input"
               placeholder="보내는 지갑 주소">

        <input id="secret_key" type="text" class="primary_input"
               placeholder="보내는 시크릿 키">

        <button class="button_primary" onclick="sendToken()" style="margin-top: 12px">송금하기</button>

        <div id="ledger_info_div" style="display: none;">
            <div class="node-search-title" style="padding-bottom:3px; padding-top: 15px;">
                <img src="<c:url value='/res/img/' />MarketReadIcon3.gif" alt="" width="4" height="5" style="padding-bottom: 3px">
                <span class="CopyText2">ledger_info</span>
            </div>

            <div class="admin-page-search-table bgGreen" style="width:640px">
                <span class="search-table-title-default MyMoneyText1" style="height: 30px;">account</span>

                <span id="ledger_info_account" class="search-table-content-default" style="height: 30px;"></span>
            </div>

            <div class="admin-page-search-table bgGreen" style="border-top:none; width:640px;">
                <span class="search-table-title-default MyMoneyText1" style="height: 30px;">status</span>

                <span id="ledger_info_state" class="search-table-content-default" style="height: 30px;"></span>
            </div>
        </div>

        <div id="transaction_list_div"></div>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
<!--<script type="text/javascript" th:src="@{/js/web3.min.js}"> </script>-->
<script type="text/javascript" th:src="@{/js/ethereumjs-tx-1.3.3.js}"> </script>
<script type="text/javascript" th:src="@{/js/ethereum_function.js}"> </script>
<script>

web3 = new Web3(new Web3.providers.HttpProvider("http://13.125.128.108:8545")); 
/*
web3 = new Web3(new Web3.providers.HttpProvider("https://rinkeby.infura.io/"));
*/

function setTotal() {
	$('#fee')[0].value = $('#gas_price')[0].value * Math.pow(10, 9) * $('#gas_limit')[0].value;
	
	$('#fee')[0].value = web3.fromWei($('#fee')[0].value, "ether");
}


function sendTest() {
	 var contractAddress = "0x9e3c20d3eb1543d62a37df9b85d85bfec3994faf";
	    var contract = web3.eth.contract(abiArray).at(contractAddress);
		 

		var recipient_address = $('#recipient_address')[0];
		var sendAmountObj		 = $('#send_amount')[0];
	
		var gas_price = $('#gas_price')[0];
		var gas_limit = $('#gas_limit')[0];

		var sender_address 			= $('#sender_address')[0];
		var secret_key 				= $('#secret_key')[0];
		
		console.log(sender_address.value);
		console.log(gas_price.value * Math.pow(10, 9));
		var gas_price_hex = web3.fromDecimal(gas_price.value * Math.pow(10, 9));
		console.log(gas_limit.value);
		var gas_limit_hex = web3.fromDecimal(gas_limit.value * Math.pow(10, 9));
		
		var total_fee = gas_price * gas_limit;
		

		
		web3.eth.getTransactionCount(sender_address.value, function(error, result) {
			if (!error)
				console.log(result);
			else
				console.log(error);
			
			
			 var rawTransaction = {
	 	            "from": sender_address.value,
	 	            "nonce": web3.toHex(result),
	 	            "gasPrice": gas_price_hex,
	 	            "gasLimit": gas_limit_hex,
	 	            "to": contractAddress,
	 	            "value": "0x0",
	 	            "data": contract.transfer.getData(recipient_address.value, sendAmountObj.value * Math.pow(10, 10), {from: sender_address.value}),
	 	            "chainId": 0x04
	 	 };
	 	
	  	if (!recipient_address.value || recipient_address.value == '')
			{
	  		recipient_address.focus();
	 		alert('송금받을 지갑 주소 미입력');
				return false;
			}
	  	if (!sendAmountObj.value || isNaN(parseInt(sendAmountObj.value)) || sendAmountObj.value == 0)
			{
	      		sendAmountObj.focus();
	     		alert('송금할 금액 미입력');
				return false;
			}
		});
}

function sendToken() {
	
    	
    var contractAddress = "0x9e3c20d3eb1543d62a37df9b85d85bfec3994faf";
    var contract = web3.eth.contract(abiArray).at(contractAddress);
	 

	var recipient_address = $('#recipient_address')[0];
	
	var sendAmountObj		 = $('#send_amount')[0];
	
	
	var gas_price = $('#gas_price')[0];
	var gas_limit = $('#gas_limit')[0];

	var sender_address 			= $('#sender_address')[0];
	var secret_key 				= $('#secret_key')[0];
	
	var gas_price_hex = web3.fromDecimal(gas_price.value * Math.pow(10, 9));
	var gas_limit_hex = web3.fromDecimal(gas_limit.value * Math.pow(10, 9));
	
	var total_fee = gas_price * gas_limit;
	

	
	web3.eth.getTransactionCount(sender_address.value, function(error, result) {
		if (!error)
			console.log(result);
		else
			console.log(error);
		
		
		 var rawTransaction = {
 	            "from": sender_address.value,
 	            "nonce": web3.toHex(result),
 	            "gasPrice": gas_price_hex,
 	            "gasLimit": gas_limit_hex,
 	            "to": contractAddress,
 	            "value": "0x0",
 	            "data": contract.transfer.getData(recipient_address.value, sendAmountObj.value * Math.pow(10, 10), {from: sender_address.value}),
 	            "chainId": 0x04
 	 };
 	
  	if (!recipient_address.value || recipient_address.value == '')
		{
  		recipient_address.focus();
 		alert('송금받을 지갑 주소 미입력');
			return false;
		}
  	if (!sendAmountObj.value || isNaN(parseInt(sendAmountObj.value)) || sendAmountObj.value == 0)
		{
      		sendAmountObj.focus();
     		alert('송금할 금액 미입력');
			return false;
		}
  	
 	if (confirm(recipient_address.value + ' 에게 ' + sendAmountObj.value + ' 송금 하시겠습니까?'))
		{			
 		
 		  
        var tx = new ethereumjs.Tx(rawTransaction);
        var privKey = new ethereumjs.Buffer.Buffer(secret_key.value, 'hex');

        tx.sign(privKey);
        var serializedTx = tx.serialize();
 		
 		
 		 web3.eth.sendRawTransaction('0x' + serializedTx.toString('hex'), function(err, hash) {
 	            if (!err) {
 	                console.log(hash);
 	                alert("성공" + hash);
 	            }
 	            else {
 	            	alert("실패");
 	                console.log(err);
 	            }
 	     });
 		        	
		}
		
	});
}



</script>
</html>