<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/config :: configFragment">
    <title>거래내역</title>
</head>
<header th:replace="fragments/header :: headerFragment"></header>
<div class="primary_container">
    <h3>거래내역</h3>

    <div id="addressListContainer">
<!--        <c:forEach var="address" items="${addressList}">
            <div id="addressRow" class="primary_content_row">
                <div id="address" style="cursor: pointer; width: auto; margin-bottom: 12px; padding: 7px 10px 7px 10px;">${address}</div>
            </div>
        </c:forEach>-->
    </div>

    <div id="tradeListContainer" class="primary_content_column">

<!--        <%&#45;&#45;지갑주소가 없을경우 메세지&#45;&#45;%>
        <c:if test="${empty addressList}">
            <div id="none_address_attention" class="attention" >
                <p>등록된 지갑이</p>
                <p>없습니다!</p>
            </div>
        </c:if>

        <%&#45;&#45;지갑 주소가 있을경우 메세지&#45;&#45;%>
        <c:if test="${not empty addressList}">
            <div id="click_attention" class="attention">
                <p>지갑주소를</p>
                <p>선택해주세요!</p>
            </div>
        </c:if>-->

        <div id="none_log_attention" class="attention" style="display:none;" >
            <p>거래내역이</p>
            <p>없습니다!</p>
        </div>

        <div id="tradeList" class="primary_content_column" style="width: 100%;">

        </div>
        <div id="page_container" class="primary_content_row">

        </div>
    </div>
</div>
</html>